faiss-cpu
langchain==0.1.15
langchain-community==0.0.32
langchain-core==0.1.41
langchain-text-splitters==0.0.1
sentence-transformers==2.6.1
fastapi
uvicorn
prompt_toolkit
pyvespa==0.38.0
urllib3<2.0
requests<2.29.0